@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  z-index: 2;
}

main .section1 {
  background-image: url("/images/mainbg.jpg");
  background-position: center;
  background-size: auto;
  padding-top: 1px;
  padding-bottom: 10em;
  color: whitesmoke;
  position: relative;
}
main .section1::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.45) 25%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.75) 75%, rgb(0, 0, 0) 100%);
  z-index: 1;
}
main .section1 header div {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 5rem;
}
main .section1 header div .logo-box .logo {
  width: 12em;
}
main .section1 header div div div {
  margin-right: 25px;
}
main .section1 header div div div .sign-in-btn {
  padding: 10px 15px;
  white-space: nowrap;
  margin: auto;
  border: 1px solid #E50914;
  border-radius: 4px;
  background-color: #E50914;
  color: whitesmoke;
  font-weight: bolder;
  cursor: pointer;
}
main .section1 .banner1 {
  display: flex;
  justify-content: center;
}
main .section1 .banner1 .banner-inner {
  padding-top: 10em;
  text-align: center;
}
main .section1 .banner1 .banner-inner div:nth-child(1) {
  font-size: 3em;
  font-weight: bold;
}
main .section1 .banner1 .banner-inner div:nth-child(2) {
  font-size: 25px;
  margin-top: 20px;
}
main .section1 .banner1 .banner-inner div:nth-child(3) {
  font-size: 1.2em;
  margin-top: 25px;
}
main .section1 .banner1 .banner-inner div:nth-child(4) {
  display: flex;
  justify-content: center;
  margin: 25px auto;
}
main .section1 .banner1 .banner-inner div:nth-child(4) .email-field-box {
  margin: auto 0px;
}
main .section1 .banner1 .banner-inner div:nth-child(4) .email-field-box .email-field {
  width: 27.5em;
  padding: 15px 5px;
  border: 1px ridge #fff;
  border-radius: 8px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
main .section1 .banner1 .banner-inner div:nth-child(4) .email-field-box .email-field:focus {
  border: none;
}
main .section1 .banner1 .banner-inner div:nth-child(4) div {
  margin: auto 0px;
  display: flex;
  align-items: center;
}
main .section1 .banner1 .banner-inner div:nth-child(4) div .get-started-btn {
  padding: 10px 30px;
  display: inline-flex;
  align-items: center;
  background-color: #E50914;
  color: whitesmoke;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 8px;
}
main .section2 {
  background-color: rgba(0, 0, 0, 0.75);
  padding-top: 1px;
}
main .section2 .banner2 {
  background-color: #000;
  color: #fff;
  margin-top: 10px;
  padding-bottom: 5em;
}
main .section2 .banner2 .banner-inner {
  margin: 0px 50px;
  display: flex;
  justify-content: center;
}
main .section2 .banner2 .banner-inner .text-box {
  margin: auto 25px;
  width: 30em;
}
main .section2 .banner2 .banner-inner .text-box div:nth-child(1) {
  font-size: 3em;
  font-weight: bold;
}
main .section2 .banner2 .banner-inner .text-box div:nth-child(2) {
  font-size: 20px;
  margin-top: 25px;
  white-space: wrap;
}
main .section2 .banner2 .banner-inner .tv-box {
  margin: 0px 25px;
  position: relative;
}
main .section2 .banner2 .banner-inner .tv-box .video-box {
  display: block;
}
main .section2 .banner2 .banner-inner .tv-box .video-box video {
  position: absolute;
  top: 20%;
  right: 25%;
  left: 12.5%;
  z-index: -1;
  width: auto;
}
main .section2 .banner3 {
  background-color: #000;
  color: #fff;
  margin-top: 10px;
}
main .section2 .banner3 .banner-inner {
  margin: 0px 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-bottom: 5em;
}
main .section2 .banner3 .banner-inner .text-box {
  margin: auto;
  margin-left: 0;
  width: 35em;
  padding-right: 10em;
}
main .section2 .banner3 .banner-inner .text-box div:nth-child(1) {
  font-size: 3em;
  font-weight: bold;
}
main .section2 .banner3 .banner-inner .text-box div:nth-child(2) {
  font-size: 20px;
  margin-top: 25px;
  white-space: wrap;
}
main .section2 .banner3 .banner-inner .phone-box {
  margin: auto;
  position: relative;
}
main .section2 .banner3 .banner-inner .phone-box img {
  margin: auto 40px;
  width: 100%;
}
main .section2 .banner3 .banner-inner .phone-box .download-illu {
  position: absolute;
  top: 75%;
  left: 30%;
  border: 3px ridge rgba(128, 128, 128, 0.6);
  border-radius: 8px;
  width: 22.5em;
  background-color: black;
}
main .section2 .banner3 .banner-inner .phone-box .download-illu div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  padding: 7.5px 2.5px;
}
main .section2 .banner3 .banner-inner .phone-box .download-illu div:nth-child(1) .download-thumbnail {
  width: 3em;
}
main .section2 .banner3 .banner-inner .phone-box .download-illu div:nth-child(1) .download-thumbnail img {
  margin: 0;
  margin-left: 0.5em;
}
main .section2 .banner3 .banner-inner .phone-box .download-illu div:nth-child(1) .download-info {
  margin: auto 0px;
  padding-right: 5em;
}
main .section2 .banner3 .banner-inner .phone-box .download-illu div:nth-child(1) .download-info p:nth-child(1) {
  font-weight: bold;
  margin-bottom: 5px;
}
main .section2 .banner3 .banner-inner .phone-box .download-illu div:nth-child(1) .download-info p:nth-child(2) {
  color: #0071eb;
  font-size: smaller;
}
main .section2 .banner3 .banner-inner .phone-box .download-illu div:nth-child(1) .download-anime {
  background: url("/images/download-icon.gif");
  background-position: center;
  background-size: cover;
  width: 4em;
  height: 5vh;
  margin: auto 0px;
}
main .section2 .banner4 {
  background-color: #000;
  color: #fff;
  margin-top: 10px;
  padding-bottom: 5em;
}
main .section2 .banner4 .banner-inner {
  margin-left: 15em;
  display: flex;
  justify-content: left;
}
main .section2 .banner4 .banner-inner .text-box {
  margin: 5em 10em;
  width: 22em;
}
main .section2 .banner4 .banner-inner .text-box div:nth-child(1) {
  font-size: 3em;
  font-weight: bold;
  width: 1em;
  white-space: wrap;
}
main .section2 .banner4 .banner-inner .text-box div:nth-child(2) {
  font-size: 20px;
  margin-top: 25px;
  white-space: wrap;
}
main .section2 .banner5 {
  background-color: #000;
  color: #fff;
  margin-top: 10px;
}
main .section2 .banner5 .banner-inner {
  padding-top: 5em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
main .section2 .banner5 .banner-inner .text-box {
  margin: 5em 10em;
  margin-left: 0;
  width: 25em;
}
main .section2 .banner5 .banner-inner .text-box div:nth-child(1) {
  font-size: 3em;
  font-weight: bold;
  white-space: nowrap;
}
main .section2 .banner5 .banner-inner .text-box div:nth-child(2) {
  font-size: 20px;
  margin-top: 25px;
  width: 30em;
  white-space: wrap;
}
main .section2 .banner5 .banner-inner .kids-box img {
  padding-right: 5em;
}