@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


* {
    margin: 0;
    padding: 0;
    // font-family: 'Bebas Neue', cursive;
    font-family: 'Ubuntu', sans-serif;
    z-index: 2;
}

main {

    .section1 {
        background-image: url("/images/mainbg.jpg");
        background-position: center;
        background-size: auto;
        padding-top: 1px;
        padding-bottom: 10em;
        color: whitesmoke;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgb(0, 0, 0);
            background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.45) 25%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.75) 75%, rgba(0, 0, 0, 1) 100%);
            z-index: 1;
        }

        header {

            div {
                display: flex;
                justify-content: space-between;
                margin: 0.2rem 5rem;

                .logo-box {

                    .logo {
                        width: 12em;
                    }
                }

                div {

                    div {
                        margin-right: 25px;

                        .sign-in-btn {
                            padding: 10px 15px;
                            white-space: nowrap;
                            margin: auto;
                            border: 1px solid #E50914;
                            border-radius: 4px;
                            background-color: #E50914;
                            color: whitesmoke;
                            font-weight: bolder;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .banner1 {
            display: flex;
            justify-content: center;

            .banner-inner {
                padding-top: 10em;
                text-align: center;

                div {
                    &:nth-child(1) {
                        font-size: 3em;
                        font-weight: bold;
                    }

                    &:nth-child(2) {
                        font-size: 25px;
                        margin-top: 20px;
                    }

                    &:nth-child(3) {
                        font-size: 1.2em;
                        margin-top: 25px;
                    }

                    &:nth-child(4) {
                        display: flex;
                        justify-content: center;
                        margin: 25px auto;

                        .email-field-box {
                            margin: auto 0px;

                            .email-field {
                                width: 27.5em;
                                padding: 15px 5px;
                                border: 1px ridge #fff;
                                border-radius: 8px;
                                margin-right: 5px;
                                background-color: rgba($color: #000, $alpha: 0.5);

                                &:focus {
                                    border: none;
                                }
                            }
                        }

                        div {
                            margin: auto 0px;
                            display: flex;
                            align-items: center;

                            .get-started-btn {
                                padding: 10px 30px;
                                display: inline-flex;
                                align-items: center;
                                background-color: #E50914;
                                color: whitesmoke;
                                font-weight: bold;
                                font-size: 18px;
                                border: none;
                                border-radius: 8px;
                            }
                        }
                    }
                }
            }
        }
    }

    .section2 {
        background-color: rgba($color: #000, $alpha: 0.75);
        padding-top: 1px;

        .banner2 {
            background-color: #000;
            color: #fff;
            margin-top: 10px;
            padding-bottom: 5em;

            .banner-inner {
                margin: 0px 50px;
                display: flex;
                justify-content: center;

                .text-box {
                    margin: auto 25px;
                    width: 30em;

                    div {

                        &:nth-child(1) {
                            font-size: 3em;
                            font-weight: bold;
                        }

                        &:nth-child(2) {
                            font-size: 20px;
                            margin-top: 25px;
                            white-space: wrap;
                        }
                    }
                }

                .tv-box {
                    margin: 0px 25px;
                    position: relative;

                    .video-box {
                        display: block;

                        video {
                            position: absolute;
                            top: 20%;
                            right: 25%;
                            left: 12.5%;
                            z-index: -1;
                            width: auto;
                        }
                    }

                }
            }
        }

        .banner3 {
            background-color: #000;
            color: #fff;
            margin-top: 10px;

            .banner-inner {
                margin: 0px 50px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
                padding-bottom: 5em;

                .text-box {
                    margin: auto;
                    margin-left: 0;
                    width: 35em;
                    padding-right: 10em;

                    div {

                        &:nth-child(1) {
                            font-size: 3em;
                            font-weight: bold;
                        }

                        &:nth-child(2) {
                            font-size: 20px;
                            margin-top: 25px;
                            white-space: wrap;
                        }
                    }
                }

                .phone-box {
                    margin: auto;
                    position: relative;

                    img {
                        margin: auto 40px;
                        width: 100%;
                    }

                    .download-illu {
                        position: absolute;
                        top: 75%;
                        left: 30%;
                        border: 3px ridge rgba($color: #808080, $alpha: 0.6);
                        border-radius: 8px;
                        width: 22.5em;
                        background-color: rgba($color: #000, $alpha: 1);

                        div {
                            &:nth-child(1) {
                                display: flex;
                                justify-content: space-between;
                                padding: 7.5px 2.5px;

                                .download-thumbnail {
                                    width: 3em;

                                    img {
                                        margin: 0;
                                        margin-left: 0.5em;
                                    }
                                }

                                .download-info {
                                    margin: auto 0px;
                                    padding-right: 5em;

                                    p {
                                        &:nth-child(1) {
                                            font-weight: bold;
                                            margin-bottom: 5px;
                                        }

                                        &:nth-child(2) {
                                            color: #0071eb;
                                            font-size: smaller;
                                        }
                                    }
                                }

                                .download-anime {
                                    background: url('/images/download-icon.gif');
                                    background-position: center;
                                    background-size: cover;
                                    width: 4em;
                                    height: 5vh;
                                    margin: auto 0px;
                                }
                            }
                        }

                    }
                }
            }
        }

        .banner4 {
            background-color: #000;
            color: #fff;
            margin-top: 10px;
            padding-bottom: 5em;

            .banner-inner {
                margin-left: 15em;
                display: flex;
                justify-content: left;

                .text-box {
                    margin: 5em 10em;
                    width: 22em;

                    div {

                        &:nth-child(1) {
                            font-size: 3em;
                            font-weight: bold;
                            width: 1em;
                            white-space: wrap;
                        }

                        &:nth-child(2) {
                            font-size: 20px;
                            margin-top: 25px;
                            white-space: wrap;
                        }
                    }
                }
            }
        }

        .banner5 {
            background-color: #000;
            color: #fff;
            margin-top: 10px;

            .banner-inner {
                padding-top: 5em;
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;

                .text-box {
                    margin: 5em 10em;
                    margin-left: 0;
                    width: 25em;

                    div {

                        &:nth-child(1) {
                            font-size: 3em;
                            font-weight: bold;
                            white-space: nowrap;
                        }

                        &:nth-child(2) {
                            font-size: 20px;
                            margin-top: 25px;
                            width: 30em;
                            white-space: wrap;
                        }
                    }
                }

                .kids-box {
                    img {
                        padding-right: 5em;
                    }
                }
            }
        }

    }
}